article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; 
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*{
   margin: 0; 
   padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0; 
}

/*abbr[title] {
  border-bottom: 1px dotted; 
}*/


/*b,
strong {
  font-weight: bold; }*/
/*
dfn {
  font-style: italic; }*/

/*hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; 
}*/

/*code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }*/

  .bg-prx{
  	background: url();
  }


  /*nav css*/

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 54px;
  background-color: #000;
  z-index: 5; }

/*.main .cn {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%; }*/
  
.main ul {
    margin: 0;
    padding: 0; }

 .main li {
    display: block;
    position: relative;
    height: 48px;
    width: 54px;
    list-style: none;
    background: transparent url(../images/menu-bg.png) center -36px no-repeat; }

 /*nav.main li:first-child, nav.main li:first-child em {
      background-position: center 14px; }*/
  /*  nav.main li:last-child, nav.main li:last-child em {
      background-position: center -276px; }*/
    /*nav.main li em {
      background: transparent url(img/menu-bg-h.png) center -36px no-repeat;
      opacity: 0; }*/
    /*nav.main li span {
      width: 0;
      opacity: 0; }*/
    /*.no_js nav.main li:hover em, .no_js nav.main li:hover span, .no_js nav.main li.active em, .no_js nav.main li.active span {
      -webkit-transition: opacity 0.2s ease-in, width 0s ease-in;
      -moz-transition: opacity 0.2s ease-in, width 0s ease-in;
      transition: opacity 0.2s ease-in, width 0s ease-in;
      opacity: 1;
      width: auto; }*/
  /*nav.main .shop li {
    background: #bbb3a8 url(img/icon-shop.png) center center no-repeat;
    margin-top: 28px; }*/
   /* nav.main .shop li:hover {
      -webkit-transition: background-color 0.2s ease-in;
      -moz-transition: background-color 0.2s ease-in;
      transition: background-color 0.2s ease-in;
      background-color: #fff; }*/


/*    nav.main .shop li em {
      display: none; }*/


/*  nav.main em {
    display: block;
    position: relative;
    width: 100%;
    height: 100%; }*/


/*  nav.main a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    outline: none; }*/


/*  nav.main span {
    display: block;
    position: absolute;
    top: 6px;
    left: 100%;
    margin-left: 8px;
    height: 35px;
    font-size: 16px;
    font-weight: normal;
    line-height: 35px;
    white-space: nowrap;
    vertical-align: top;
    overflow: hidden; }*/


/*    nav.main span:before {
      content: '\00a0\00a0';
      font-size: 15px;
      line-height: 35px;
      background: transparent url(img/menu-item-bg.png) 0 -1px no-repeat;
      width: 18px;
      height: 35px;
      display: inline-block;
      vertical-align: top; }*/

 /*   nav.main span b {
      display: inline-block;
      height: 35px;
      font-weight: normal;
      background-color: #000;
      color: #bbb3a8;
      font-style: normal;
      text-transform: uppercase;
      vertical-align: top;
      padding-right: 10px;
      font-family: 'modern_no._20regular', serif;
      letter-spacing: 0.1em;
      letter-spacing: 3px;
      position: relative; }*/

    /*  nav.main span b img {
        vertical-align: middle;
        width: auto !important;
        height: auto !important;
        padding-bottom: 1px; }*/

/*    nav.main span i {
      padding-left: 4px;
      font-style: normal;
      font-size: 22px;
      text-transform: lowercase;
      font-family: 'League Script', cursive;
      font-style: normal;
      letter-spacing: normal;
      color: #fff;
      text-shadow: 1px 0px 0px white; }*/

  /*nav css*/